/************
RESET
************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

/***************
CONTAINERS
***************/
#app {
  width: 100%;
  padding: 50px;
}

.container {
  width: 86%;
  height: 87vh;
  margin: 0 auto;
}

.button-container {
  text-align: center;
}

/*************
GENERAL
*************/
h1 {
  margin-bottom: 20px;
  text-align: center;
}

button {
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  border: none;
  background-color: rgb(57, 150, 226);
  cursor: pointer;
  color: white;
}

.x-button {
  background-color: transparent;
}

.bg-image {
  background-image: url(../img/cervino-by-night.jpg);
}

/***************
  UTILITY
  ***************/
.white-text {
  color: white;
  padding: 20px;
}

.d-none {
  display: none;
}
